.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #152b5a;
}

/* Background Image */
.bgImage {
  object-fit: cover;
  position: absolute;
  inset: 0;
  z-index: -1;
}

/* Center content */
.content {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
 
}

.content h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.content button {
  padding: 12px 25px;
  border: none;
  background: #ff9800;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.content button:hover {
  background: #e68900;
}