
.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* wider cards */
  gap: 20px;
  background-color: #001e4b; 
  padding: 20px;
}


.card {
  background-color: #0a2e6f; 
  color: white; 
  padding: 30px; 
  border-radius: 8px;
  transition: all 0.3s ease;
  cursor: pointer;

}



.card:hover {
  background-color: #1a4db7; 
  color: #a0d8ff;
}

.card h1, .card h4 {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 600;
}

.card p {
  font-size: 14px;
  line-height: 1.5;
}

.cardratingmain {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  justify-items: center;
}

.cardrating {
  width: 120px;
  height: 140px;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cardrating:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}

.ratingImage {
  width: 150px !important;
  height: 150px !important;
  object-fit: contain;
}

.cardratingh4 {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 600;
  color: #090a0e;
}

.cardratingp {
  font-size: 12px;
  color: #6b7280;
  margin-top: 4px;
}
